*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#0b0c2a;
    color:white;
}

/* Navbar */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 80px;
}

.navbar ul{
    display:flex;
    list-style:none;
    gap:20px;
}

.logo{
    font-weight:bold;
    color:#fdb827;
}

/* Hero */
.hero{
    padding:100px 80px;
}

.hero h1{
    font-size:40px;
}

.hero button{
    margin-top:20px;
    padding:10px 20px;
    background:#fdb827;
    border:none;
    cursor:pointer;
}

/* About */
.about{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:80px;
    gap:50px;
}

.about-img{
    width:300px;
    height:350px;
    border:4px solid #fdb827;
}

.about button{
    background:#fdb827;
    padding:10px 20px;
    border:none;
}

/* Services */
.services{
    padding:80px;
    text-align:center;
}

.service-box{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:40px;
}

.card{
    background:#14153c;
    padding:20px;
    width:250px;
}

/* Portfolio */
.portfolio{
    padding:80px;
    text-align:center;
}

.grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:15px;
    margin-top:40px;
}

.grid-item{
    height:150px;
    background:#1c1e4e;
}

/* Experience */
.experience{
    padding:80px;
    text-align:center;
}

.exp-container{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:40px;
}

.exp-card{
    background:#14153c;
    padding:20px;
    width:250px;
}

/* Contact */
.contact{
    padding:80px;
    text-align:center;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    width:400px;
    margin:30px auto;
}

input, textarea{
    padding:10px;
}

button{
    background:#fdb827;
    border:none;
    padding:10px;
    cursor:pointer;
}

/* Footer */
footer{
    text-align:center;
    padding:20px;
    background:#090a1f;
}