*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    background:#0f172a;
    color:white;
    line-height:1.6;
}

/* NAVBAR */
.navbar{
    display:flex;
    justify-content:space-between;
    padding:20px 80px;
    background:#0b1120;
    position:sticky;
    top:0;
}

.navbar ul{
    list-style:none;
    display:flex;
    gap:20px;
}

.navbar a{
    text-decoration:none;
    color:white;
    font-size:14px;
}

.logo{
    font-weight:bold;
    font-size:18px;
}

/* HERO */
.hero{
    padding:100px 80px;
    text-align:center;
}

.hero h1{
    font-size:42px;
    margin-bottom:10px;
}

.tagline{
    font-size:18px;
    color:#38bdf8;
    margin-bottom:15px;
}

.summary{
    max-width:600px;
    margin:auto;
    color:#cbd5e1;
}

/* SECTIONS */
.section{
    padding:80px;
}

.section h2{
    margin-bottom:30px;
    text-align:center;
}

.dark{
    background:#1e293b;
}

/* SKILLS */
.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px,1fr));
    gap:20px;
}

.skill-card{
    background:#0b1120;
    padding:20px;
    text-align:center;
    border-radius:8px;
}

/* PROJECTS */
.project-card{
    background:#1e293b;
    padding:20px;
    margin-bottom:20px;
    border-radius:8px;
}

/* CONTACT */
#contact p{
    text-align:center;
    margin-bottom:10px;
}

/* FOOTER */
footer{
    text-align:center;
    padding:20px;
    background:#0b1120;
}